*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    color: #252323;
}
.header-1{
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #252323;
}
header{
    background-color: #252323;
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    font-family: 'Reem Kufi', sans-serif;
}
nav ul li img{
    width: 16px;
    margin-right: 2px;
}    
a{
    color:rgb(214, 208, 208);
    text-decoration: none;
    text-align: right;
    padding-left:15px;
   font-size: larger;
   transition: color 0.6s;
}
a:hover{
    color:rgb(156, 149, 149);

}
.logo{
    margin-bottom: 4px;
}
.col-1{
    max-width: 1300px;
    margin-left: auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Abel', sans-serif;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(37,35,35,1) 0%, rgba(250,132,35,1) 0%, rgba(255,255,255,0.3883928571428571) 67%);
    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    font-family: 'Abel', sans-serif;
    color:#252323;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px ;
    padding-left: 360px;
    width: 350px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 50px;
    font-family: 'Abel', sans-serif;
}
.col-2 p{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin: 50px;
}
.bottom{
    display: inline-block;
    background: #252323;
    padding: 8px 30px;
    margin: 43px ;
    border-radius: 30px;
    transition: background 0.6s;
}
.bottom:hover{
    background: #131212;
} 
.header .row{
    margin-top: 70px;
}
section{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin: 50px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #252323;
}
.title:after{
    content: '';
    background: #fa8423;
    width: 130px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
section p{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.col-4{
    text-align: center;
}
.pass{
    width: 630px;
    padding-bottom: 10px;
    border-radius: 16px;
    
}
.opr{
    width: 180px;
    padding-bottom: 10px;
    border-radius: 16px;
}
input{
    font-family: 'Abel', sans-serif;
    width: 200px;
    height: 20px;
    border-radius: 16px;
    padding-left: 10px;
    font-size: 18px;
    border-color: #fa8423;
}
.send{
    width: 100px;
    padding-left: 0px;
    width: 100px;
    height: 50px;
    background: #fa8423;
    border-color: #fa8423;
}
.desire{
    width: 195px;
    height: 20px;
}
.footer{
    background-color: #252323;
    color: #fa8423;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    padding: 60px 0 20px;
}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer-col-2{
    padding-right: 100px;
    flex-basis: 12%;
}
.footer-col-3{
    list-style-type: none;
}
.footer-col-3 img{ 
    display: inline-block;
    width: 16px;
    margin-right: 2px;
    list-style-type: none;
    padding-bottom: 10px;
}
ul{
    list-style-type: none;
}
.ok{
    width: 250px;
    height: 60px;
}
.map{
    text-align: center;
    border-radius: 20px;
    width: 100%;
}